# FastAPI + WebSocket server
fastapi>=0.111
uvicorn[standard]>=0.30
SQLAlchemy>=2.0
asyncpg>=0.29
alembic>=1.13
pydantic>=2.7
orjson >= 3.10,<4
debugpy>=1.8.0

# CAN bus support
python-can>=4.2.0

# ODrive
odrive>=0.6.10.post0

# Moteus support
moteus>=0.3.87
