# FastAPI + WebSocket server
fastapi[all]>=0.95.0
uvicorn[standard]>=0.23.0

# CAN bus support
python-can>=4.2.0

# ODrive CANSimple transport
# (no extra deps beyond python-can)

# Moteus support
moteus>=0.3.87
